{{#if models.groups.length}}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Base Name</th>
        <th>Template</th>
        <th>Metric Type</th>
        <th>Policy Type</th>
        <th>Current Instances</th>
      </tr>
    </thead>

    <tbody>
      {{#each models.groups as |group|}}
        <tr>
          <td>
            {{#link-to "groups.show.status" group}}
              {{ group.name }}
            {{/link-to}}
        </td>
          <td>{{group.baseName}}</td>
          <td>{{group.templateID}}</td>
          <td>{{group.metricType}}</td>
          <td>{{group.policyType}}</td>
          <td>{{group.scaleHistory}}</td>
          <td>
            {{#bs-dropdown}}
              {{#bs-dropdown-toggle}}
                <span class="caret"></span>
              {{/bs-dropdown-toggle}}
              {{#bs-dropdown-menu}}
                <li>
                  {{#link-to "groups.show.delete" group}}
                    Delete
                  {{/link-to}}
                  </li>
              {{/bs-dropdown-menu}}
            {{/bs-dropdown}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
<div class="row">
  <div class="col-md-12">There are currently no groups.</div>
</div>
{{/if}}
